html {
    font-size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}

.header_navigation>ul, .footer_navigation>ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_navigation, .header_icons {
    width: 35%;
}

.logo {
    width: 30%;
}

.header_icons, .footer_icons, .footer_icons_smm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_icons div {
    margin: auto 1.5rem;
}

.header_navigation a, .footer_navigation a, .footer_icons_smm a {
    text-decoration: none;
    color: #354657;
    font-size: 1.6rem;
    font-weight: 700;
}

header {
    background-color: #F4EFFA;
}

.footer {
    width: 100%;
    /* background-color: rgb(219, 76, 76); */
}

.main {
    margin: 0 auto;
    width: 80%;
    height: 600px;
}

.main__title {
    font-weight: 700;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
    padding-top: 18px;
    font-size: 3rem;
}

.content {
    margin-top: 1rem;
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    /* padding: 2rem 0; */
}

.cont_block {
    display: flex;
    flex-direction: row;
}

.cont {
    width: 30%;
    height: 400px;
   
    background-color: #F0F2F5;
    font-size: 1.3rem;
}

.cont_block > button {
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    border: 2px solid #946FD3;
    background-color: #946FD3;
    border-radius: 50px;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: white;
    margin-left: 3rem;
}


.cont_img {
    width: 35px;
    height: 35px;
    padding-left: 11px;
    padding-top: 10px;
    margin-left:1rem ;
    margin-top: 3rem;
    border: 2px solid #D6D9DE;
    border-radius: 25px;
   
}

.cont_text {
    width: 70%;
    height: 50px;
    margin-top: 3rem;
    margin-left: 1rem;
    /* background-color: rgb(42, 44, 153); */
}

.cont_title {
    font-weight: 700;
    padding-bottom: 1rem;
    
}

.cont_text_text .cont_text_text_1 .cont_text_text_2   {
    font-weight: 400;
    margin-top: 1rem;
}
.cont_text_text_2 {
    
    color:#946FD3; 
}

.map {
    margin-left: 4%;
    width: 65%;
    /* height: 500px; */
    /* background-color: rgb(167, 30, 30); */
}

.footer {
    width: 100%;
    border-top: 1px solid #E2E2E2;

}

.footer__conteiner {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.footer_icons div, .footer_icons_smm div {
    margin: auto .3rem;
}

.footer_navigation {
    width: 15%;

}

.terra {
    width: 10%;
}

.footer_icons {
    width: 17%;
}

.footer_icons_smm {
    width: 18%;
    margin-left: 16%;
}