html {
    font-size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}

.header_navigation>ul, .footer_navigation>ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_navigation, .header_icons {
    width: 35%;
}

.logo {
    width: 30%;
}

.header_icons, .footer_icons, .footer_icons_smm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_icons div {
    margin: auto 1.5rem;
}

.header_navigation a, .footer_navigation a, .footer_icons_smm a {
    text-decoration: none;
    color: #354657;
    font-size: 1.6rem;
    font-weight: 700;
}

header {
    background-color: #F4EFFA;
}

.footer {
    width: 100%;
    /* background-color: rgb(219, 76, 76); */
}

.main {
    margin: 0 auto;
    width: 80%;
    /* height: 700px; */
}

.main__title {
    font-weight: 700;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
    padding-top: 18px;
    font-size: 3rem;
    margin-bottom: 20px;
}

.content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background-color: rgb(185, 211, 34); */
}

.filters {
    width: 20%;
    /* background-color: rgb(214, 62, 62); */
    height: 600px;
    border: 3px solid #EEE8F8;
    margin-right: 10px;
}

.f_title {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
}

.f_title>button {
    width: 110px;
    color: white;
    background-color: #946FD3;
    border-radius: 5px;
    border: 1px solid #946FD3;
    padding-left: 0px;
    margin-left: 15px;

}
.f_f {
    font-size: 1.5rem;
    margin-top: 3rem;

}
.f_f_f {
    margin-left: 15px;
}

.f_f_title {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.f_f_t_title {
    width: 70%;
    margin-left: 15px;
    font-weight: 700;
}

.minus {
    padding-left: 5px;
    padding-bottom: 5px;
    color: #946FD3;
    width: 12px;
    height: 12px;
    border: 1px solid #946FD3;
    border-radius: 2px;
}


.cards {
    /* height: 500px; */
    /* width:100%; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    /* background-color: rgb(19, 41, 170); */
}

.card {
    /* width: 30%; */
    height: 350px;
    /* margin-top: 20px;
    margin-right: 20px; */


    /* height: 300px; */
    /* background-color: rgb(198, 23, 23); */
    border: 1px solid #E2E2E2;
    /* background-image: url(./img/Rectangle.png); */
    /* background-repeat: no-repeat; */
}

.cart_img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
    width: auto;
}

.cart_title {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.cart_price {
    padding: 2.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}
.button > button {
    width: 20%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    border: 2px solid #946FD3;
    background-color: white;
    border-radius: 50px;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: #946FD3;
    margin-left: 48rem;
}

.footer {
    width: 100%;
    border-top: 1px solid #E2E2E2;
}

.footer__conteiner {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.footer_icons div, .footer_icons_smm div {
    margin: auto .3rem;
}

.footer_navigation {
    width: 15%;
}

.terra {
    width: 10%;
}

.footer_icons {
    width: 17%;
}

.footer_icons_smm {
    width: 18%;
    margin-left: 16%;
}

p>label{
    font-size: 1.5rem;
    font-weight: 700;
}
.sort {
    text-align: right;
    }