html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}

.header_navigation>ul, .footer_navigation>ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header_navigation, .header_icons {
    width: 35%;
}

.logo {
    width: 30%;
}

.header_icons, .footer_icons, .footer_icons_smm {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_icons div {
    margin: auto 1.5rem;
}

.header_navigation a, .footer_navigation a, .footer_icons_smm a {
    text-decoration: none;
    color: #354657;
    font-size: 1.6rem;
    font-weight: 700;
}

header {
    background-color: #F4EFFA;
}

.footer {
    width: 100%;
    /* background-color: rgb(219, 76, 76); */
}

.main {
    margin: 0 auto;
    width: 80%;
    /* height: 600px; */
    /* display: flex;
    flex-direction: row; */
}

.conteiner {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* height: 400px; */
}

.main__title {
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 18px;
    padding-top: 18px;
    font-size: 3rem;
    margin-bottom: 30px;
}

.main_content {
    width: 75%;
    background-color: white;
    height: 100%;
    margin-right: 5%;
}

.details__title {
    width: 100%;
    background-color: #F0F2F5;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 1rem;
    /* height: 4.5rem; */
}

.details {
    margin-top: .5rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
}

.details>div {
    padding: 1rem;
}

.id>span {
    font-weight: 700;
}

.cl_head, .cl_head1 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #F0F2F5;
}

.cl_head {
    margin-left: -10px;
}


/* .cl_info > br {
    margin: 35px;
} */

.main_right_panel {
    width: 20%;
    background-color: white;
    height: 100%;
}

.left_cell, .left_cell_last, .left_cell_brown {
    background-color: #F0F2F5;
    width: 80%;
    height: 15px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10%;
}

.left_cell {
    border-bottom: 1px solid #E2E2E2;
    color: #354657;
}

.left_cell_brown {
    border-bottom: 1px solid #E2E2E2;
    color: #C2C2C6
}

.footer {
    width: 100%;
    border-top: 1px solid #E2E2E2;
    margin-top: 3rem;
}

.footer__conteiner {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.footer_icons div, .footer_icons_smm div {
    margin: auto .3rem;
}

.footer_navigation {
    width: 15%;

}

.terra {
    width: 10%;
}

.footer_icons {
    width: 17%;
}

.footer_icons_smm {
    width: 18%;
    margin-left: 16%;
}

.tov, .tov_d {
    width: 100%;
    margin-top: .5rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* padding-left: 1rem; */
    background-color: #F0F2F5;

}

.tov_d {
    background-color: #fff;
}


/* .tov_title_block {
    background-color: #F0F2F5;
} */

.tov_titel {
    width: 18%;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

    padding: 1rem;
}

.tov_det, .tov_det_last {
    padding: 1rem;
    background-color: #fff;
}

.tov_det_last {
    padding: 0;
    height: 1rem;
}

.price {
    width: 100%;
    margin-top: .5rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 1rem;
    background-color: #F0F2F5;
}

.bolt_p {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
    text-align: right;
}

.p {
    padding: 1rem;
}

.button>button, .dev_but>button {
    width: 20%;
    margin-top: 4rem;
    margin-bottom: 5rem;
    border: 2px solid #946FD3;
    background-color: white;
    border-radius: 50px;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: #946FD3;
}

.dev_but {
    /* width: 50px; */
    /* width: 5rem; */
    width: 80%;
    height: 1rem;
}

.dev_but>button {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left:auto;
    height: 3rem

}

.div_img {
    width: 10%;
    height: 2rem;
    width: 2rem;
    padding: 5px;
    margin-left:auto;
    background-color: #F83737;
   /* display: inline-block; */

    
}

.tov_det_last {
    display: flex;
  flex-flow: row wrap;
  margin-top: 5px;
    /* display: inline-block; */
    /* position: relative; */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}